html, body {
  background-color: #ece3cb;
  text-align: center;
  font-size: 16px;

}

.wrapper{
  font-family: Arial, Tahoma, 'Lucida Sans Unicode', Verdana, sans-serif;
  width: 900px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid rgba(56, 56, 56, 0.192);
  background-color: rgba(219, 218, 218, 0.746);
}

header {
 border-bottom: 1.5px solid rgba(56, 56, 56, 0.192);
 margin: 15px;
 font-family: 'Nunito', sans-serif;
 font-size: 1.2em;
}

section {
  margin: 0 auto;
  padding: 15px;
  width: 750px;
}

footer {
  font-family: Arial, Tahoma, 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 1.2em;
  text-align: center;
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  padding: 12.5px;
  color: #c5c5c5; 
  background-color: #063f0fe3; 
  font-family: 'Nunito', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#form_container{
  width: 100%;
  padding: 10px;
}

#reveal_field{
  border-radius: 15px;
  border: 1px solid rgba(56, 56, 56, 0.233);
  position: relative;
  top: -44px;
  left: 5px;
  width: 25px;
  height: 25px;
  background-image: url('./components/imgs/plus.png');
  cursor: pointer;
}

.todoList{
  margin: auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.746);
  border: 2px solid rgba(56, 56, 56, 0.192);
  border-radius: 15px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.finished{
  text-decoration: line-through;
}

#undo_box {
  position: fixed;
}

.hide_form{
  visibility: hidden;
}

.asap{
  color: red;
  font-size: 1.5em;
}

.Urgent{
  color: orange;
  font-size: 1.5em;
}

.NotImportant{
  color: blue;
  font-size: 1.5em;
}

.Eventually{
  color: green;
  font-size: 1.5em;
}

.unflagged{
  border:none;
}

.flagged{

  border: 10px solid red;
}

.bigFlag{

  font-size: 2em;
  color: red;
}


